<section class="blog">

  <div class="blog-details">
    <header>{{blog.post_title}}</header>
   <div id="blog-contents">
    <p>Contents: {{blog.contents}}</p>
    </div>
    <p>Created By: {{blog.user.username}}</p>
    <p>Created on: {{format_date blog.post_date}}</p>

{{!-- Place an if block that only renders this if your id matches the blogs user id --}}
 {{> delete}}




{{> edit}}
<br>
<br>
<br>
{{> create-comment}}
<br>
<br>
<br>
<br>
{{#each blog.comments as |comment|}}
{{> comment-details}}
{{/each}}
<br>
<br>
<br>
<br>
</section>

