<section class="blog">

  <div class="blog-details">
    <h2>Post Title: {{blog.post_title}}</h2>
    {{> delete}}
    <p>Blog Contents: {{blog.contents}}</p>
    <p>Creator Name: {{blog.user.username}}</p>
    <p>Created on: {{format_date blog.post_date}}</p>

{{!-- Place an if block that only renders this if your id matches the blogs user id --}}


{{> edit}}
<br>
<br>
<br>
{{> create-comment}}
<br>
<br>
<br>
<br>
{{#each blog.comments as |comment|}}
{{> comment-details}}
{{/each}}
<br>
<br>
<br>
<br>
</section>
