:root{
    --darkest: #211e20;
    --dark: #585874;
    --mid: #737391;
    /* --mid: #a0a08b; */
    --light: #e9efec;
    --text: #f2e9e4;

}

/* var(--darkest);
var(--text); */


body{
    background-color: var(--darkest);
    color: var(--text);
    text-align: center;
    align-content: center;
    font-family:monospace;
    font-size: larger;
}
card{
    background-color: aliceblue;
}

nav {
  background-color: var(--dark);
  padding: 10px;
  text-align: center;
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: var(--mid);
}

.thumbnail{
    color: white;
    background-color: var(--mid);
    padding: .2%;
    max-width: 20%;
    margin: 0 auto;
    margin-top: 1%;
    font-size: x-large;
      }
   

.thumbnail a {
    color: white;
  text-decoration: none;
  /* padding: 10px; */
  /* margin: 0 10px; */
  font-weight: bold;
  font-size: x-large;
}
.thumbnail header{
    background-color: var(--dark);
}

#blogTitleForm{
    background-color: var(--text);
    width: 50%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin: .5%
}

#blogContentForm{
    background-color: var(--text);
    color: var(--darkest);
    width: 50%;
    max-width: 50%;
}

#commentContentForm{
    background-color: var(--text);
    color: var(--darkest);
    width: 40%;
    max-width: 40%;
}

.blog-details header{
    background-color: var(--mid);
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    font-size: xx-large;
}

#blog-contents{
    background-color: var(--mid);
    max-width: 70%;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    background-color: var(--mid);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

/* Hover effect */
.button:hover {
    background-color: var(--dark);
  }
